/* Contenedor de la página */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}

/* Contenedor del título */
.title-container {
  position: absolute; /* Lo saca del flujo normal del documento */
  top: 20px; /* Ajusta la distancia desde la parte superior */
  left: 50%; /* Centra el título horizontalmente */
  transform: translateX(-50%); /* Centra el título horizontalmente */
  width: 100%;
  z-index: 1; /* Asegura que el título esté por encima de las ondas */
}

/* Título */
.title {
  font-size: 3rem;
  font-weight: bold;
  color: #2e2d3c;
  text-align: center;
  width: 100%;
  margin: 0;
}

/* Contenedor del formulario */
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Contenedor de los inputs */
.input-container {
  display: flex;
  align-items: center;
  border: 2px solid #d1d1d1;  /* Borde gris alrededor del input */
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  background: white;
  width: 100%;
}

form {
  max-width: 40rem;
  width: 100%;  /* Hace que el formulario ocupe todo el ancho */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo de los inputs */
.input-container input {
  border: none;  /* Sin borde en el input */
  outline: none;  /* Sin outline al seleccionar */
  font-size: 1rem;
  padding-left: 10px;
  width: 100%;  /* Hace que el input ocupe todo el contenedor */
  height: 40px;  /* Define la altura del input */
}


/* Botón */
.button {
  width: 100%;  /* Hace que el botón ocupe todo el ancho */
  padding: 12px;
  background-color: #2c7a2c;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  height: 40px;  /* Ajusta la altura del botón al mismo tamaño que los inputs */
}

.button:hover {
  background-color: #256b25;
}


/* Estilo de icono */
.icon {
  color: gray;
}
.description {
  position: absolute; /* Lo saca del flujo normal del documento */
  bottom: 8.5rem; /* Ajusta la distancia desde la parte inferior usando rem */
  left: 50%; /* Centra la descripción horizontalmente */
  transform: translateX(-50%); /* Centra la descripción horizontalmente */
  font-size: 0.8rem;
  text-align: center;
  color: #4e2a00;
  opacity: 0.8;
  max-width: 600px;
  margin: 0;
  z-index: 1; /* Asegura que la descripción esté por encima de las ondas */
}



/* Onda superior */
.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 200px; /* Ajusta la altura de la onda para pantallas grandes */
  /*border: 2px solid red; /* Añadido para ver el tamaño de la onda */
  overflow: hidden;
}

@media (max-width: 768px) {
  .wave-top {
    height: 660px; /* Aumenta la altura de la onda para pantallas más pequeñas */
    /*border: 2px solid blue; /* Borde para diferenciar en pantallas pequeñas */
  }
}

/* Onda inferior */
.wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
